html, body {
  margin: 0;
  padding: 0;
  height: 100%; width: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes visited {
  0% { 
    /*transform: scale(1.5);*/
    background: #26ABBF;
  }
  100% {
    /*transform: scale(1);*/
    background: #A7D9D4;
  }
}

@keyframes path {
  0% { 
    /*transform: scale(1.5);*/
    background: #F2B950;
  }
  100% {
    /*transform: scale(1);*/
    background: #3E3E40;
  } 
}

.no-click {
  pointer-events: none;
}

.cell {
  width: 20px;
  height: 20px;
  /*margin: 2px;*/
  outline: 1px solid #C0C0C0;
  background-color: #e3e4e9;
}

.buttons,
.searchTypes {
  position: absolute;
}

.searchTypes {
  top: 10px;
  left: 10px;
}

.gridSize {
  margin-top: 20px;
}

.buttons {
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
}

.buttons > button {
  outline: none;
  padding: 8px 15px;
  font-size: 14px;
  background-color: #5181b8;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.buttons > button:active {
  background-color: #2a5885;
  box-shadow: inset 0 0 2px #e3e4e9;
}

.start {
  background-color: #b3fe3e !important;
}

.end {
  background-color: #fee345 !important;
}


.checked-anim {
  animation: ease-in .7s visited;
  background: #A7D9D4;
}

.way-anim {
  animation: ease-in .7s path;
  background-color: #3E3E40;
}

.checked {
  background: #A7D9D4;
}

.way {
  background-color: #3E3E40;
}

.block {
  background-color: #D93B3B;
}

.searchTypes {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.searchType {
  /*padding: 6px 10px;*/
  /*border-radius: 5px;*/
  /*border: 1px solid grey;*/
  /*border-left: none;*/
  cursor: pointer;
  margin-top: 10px; 
  /*font-weight: 500;*/
  font-size: 18px;
}